header {
  height: 71px;
  -webkit-box-shadow: 0 0 5px 2px #aaaaaa;
  box-shadow: 0 0 5px 2px #aaaaaa;
  -webkit-box-align: end !important;
  -ms-flex-align: end !important;
  align-items: flex-end !important;
  position: fixed;
  top: 0;
  left: 0;
  background: white; }
  header .medio {
    padding: 5px 10px 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: end;
    -ms-flex-align: end;
    align-items: flex-end; }

.logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
  width: 20%;
  height: 71px; }
  .logo img {
    height: 100%; }

nav {
  width: 70%;
  -webkit-box-flex: 1;
  -ms-flex: auto;
  flex: auto; }

.menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
  -ms-flex: auto;
  flex: auto;
  width: 100%; }

.items {
  text-align: center;
  font-size: 14px;
  height: 33px;
  font-weight: 400;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  color: #253B56;
  margin: 0px 5px;
  padding: 0 20px;
  cursor: pointer;
  -webkit-transition: all .3s;
  -o-transition: all .3s;
  transition: all .3s;
  position: relative;
  z-index: 99999;
  -webkit-box-sizing: content-box;
  box-sizing: content-box; }
  .items i {
    font-size: 20px;
    margin-right: 5px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center; }
  .items:hover {
    color: #1994d7;
    background: white;
    -webkit-box-shadow: 0 -1px 4px -1px rgba(100, 100, 100, 0.5), 0 0 4px 1px rgba(100, 100, 100, 0.5);
    box-shadow: 0 -1px 4px -1px rgba(100, 100, 100, 0.5), 0 0 4px 1px rgba(100, 100, 100, 0.5);
    border-radius: 10px 10px 0 0; }
    .items:hover .submenu {
      opacity: 1;
      height: auto;
      -webkit-transition: all .3s;
      -o-transition: all .3s;
      transition: all .3s; }

.submenu {
  opacity: 0;
  height: 0;
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-shadow: 0 4px 4px 1px rgba(100, 100, 100, 0.5);
  box-shadow: 0 4px 4px 1px rgba(100, 100, 100, 0.5);
  top: 99%;
  left: -.4%;
  border-radius: 0 0 10px 10px;
  overflow: hidden;
  z-index: -1;
  -webkit-transition: all .3s;
  -o-transition: all .3s;
  transition: all .3s; }

.submenu_lado_izquierda {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  background: white;
  padding: 20px 0;
  width: 259px;
  border-right: 1px solid #DDDDDD; }
  .submenu_lado_izquierda li, .submenu_lado_izquierda a {
    color: #253B56; }
  .submenu_lado_izquierda a {
    padding: 0 20px 0;
    line-height: 20px;
    margin-bottom: 2px;
    font-size: 12px;
    width: 100%;
    text-align: left; }
    .submenu_lado_izquierda a:hover {
      background: #1994D7;
      color: white; }

.tittle_submenu {
  font-weight: 600;
  margin: 0 0 4px 0;
  padding: 0 20px;
  font-size: 14px;
  line-height: 16px; }

.group_submenu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start; }

.submenu_lado_izquierda {
  border-left: 1px solid #DDD; }

.submenu_lado_derecha {
  background: #EBF6FC;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  padding: 20px 0;
  border-top: 1px solid #DDD;
  width: 293px; }

.first_group_derecha {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center; }
  .first_group_derecha img {
    width: 250px;
    height: 150px;
    -o-object-fit: cover;
    object-fit: cover;
    margin: 10px; }

.secound_group_derecha, .third_group_derecha {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column; }
  .secound_group_derecha li, .third_group_derecha li {
    width: 100%; }
    .secound_group_derecha li:last-child, .third_group_derecha li:last-child {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      text-align: left;
      font-size: 12px;
      padding: 0 20px;
      margin: 10px 0; }

.tittle_group_derecha {
  text-align: left;
  font-weight: 600;
  margin: 0 0 4px 0;
  padding: 0 20px;
  font-size: 14px;
  line-height: 16px;
  -webkit-transition: all .3s;
  -o-transition: all .3s;
  transition: all .3s; }

.subitems:hover .sub_sub_menu_encima {
  opacity: 1;
  color: #253B56;
  -webkit-transition: all .3s;
  -o-transition: all .3s;
  transition: all .3s; }

.sub_sub_menu_encima {
  position: absolute;
  top: 0;
  left: 259px;
  background: #EBF6FC;
  padding: 20px 0;
  border-top: 1px solid #DDD;
  width: 293px;
  opacity: 0;
  -webkit-transition: all .3s;
  -o-transition: all .3s;
  transition: all .3s; }

.submenu_help {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column; }

.subitems_help {
  padding: 0 20px 0;
  line-height: 20px;
  margin-bottom: 2px;
  font-size: 12px;
  width: 100%;
  text-align: left;
  color: #253B56;
  margin-left: 10px;
  margin-top: 5px; }
  .subitems_help:hover {
    color: #1994D7;
    text-decoration: underline; }

.view_all {
  color: #1994D7;
  margin-top: 10px;
  font-weight: 400; }
  .view_all:hover {
    text-decoration: underline; }

.izquierda_help {
  width: 100%; }

.hada {
  width: 100px;
  right: 20px;
  position: absolute; }

.tittle_cart {
  padding-top: 0;
  padding-bottom: 7px;
  font-weight: bold;
  line-height: 18px;
  text-align: left;
  width: 100%; }

.state_cart {
  border-top: 1px solid #dfdfdf;
  padding-left: 20px;
  font-weight: 400;
  width: 100%;
  padding-top: 10px; }

.tickets_cart {
  width: 50px;
  height: 50px; }

.group_submenu_cart {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center; }

.cart_right {
  left: -188px;
  width: 280px;
  border-top: 1px solid #DDDDDD; }
  .cart_right .submenu_lado_izquierda {
    border-right: none; }

.container_img_cart {
  -webkit-box-shadow: 0 2px 5px #d1d1d1;
  box-shadow: 0 2px 5px #d1d1d1;
  background: -webkit-linear-gradient(top, #feffff 23%, #f2f6fb 80%);
  padding: 14px 0;
  width: 50%;
  margin-top: 10px;
  border-radius: 10px;
  -webkit-box-shadow: #d1d1d1 0px 2px 5px 0px;
  box-shadow: #d1d1d1 0px 2px 5px 0px; }

.total_cart {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  width: 100%;
  padding: 10px 20px;
  margin-top: 10px; }
  .total_cart .dolar {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    font-size: 19px;
    font-weight: bold; }
    .total_cart .dolar i {
      font-weight: 400;
      font-size: 11px; }

.left_cart {
  width: 100%; }
